@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@300;400&display=swap');

*{
 font-family: 'Poppins', sans-serif; 
}

html, body, #root{
  margin: 0;
  height: 100%;
  width: 100%;
}

#root{
  display: flex;
}